html {
    background-image: url(hatter-1.jpg);
    background-size: 100%;
}

.menu li{
    
    list-style: none;
    margin-left: 45px;
    float: left;
      
}

a{
  text-decoration: none;
  color: whitesmoke;
}

body {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: whitesmoke;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 2em;
}

.title{
    float: left;
    margin-left: auto;
    margin-right: 225px;
}

.gitIcon{
    height: 16px;
    width: 26px;  
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

.text{
    position: relative;
    color: whitesmoke;
    text-shadow: 5px 5px black;
}
.Overview{
    margin-left: 0px;
    margin-right: 240px;
    margin-bottom: auto;
    margin-top: auto;
    border: 1px solid white;
}
.Pikatchu{
    border: 10px;
    margin: 150px;
}

