.Title{
    color: blue;
        
}

body{
    margin-left: 150px;
    margin-top: 50px;
}

.Subtitle{
    color: yellow;
    text-shadow: 2px 2px black;
}

.ObladiText{
    color: black;
}

.FoodList{
    color: yellow;
    text-shadow: 2px 2px black;
}