html {
    background-color: gray;
    background-size: 100%;
}

.apple{
    color: aqua;
    border: 1px solid black;
    border-width: thick;
}

.Pear{
    color: aquamarine;
    border: 1px solid black;
    border-width: thick;
}

.Melon{
    color: black;
    border: 1px solid black;
    border-width: thick;
}