html {
    background-color: gray;
    background-size: 100%;
}

.apple{
    color: red;
    border: 1px solid black;
    border-width: thick;
    background-color: yellow;
    width: 200px;
    height: 100px;
}

.Pear{
    color: black;
    border: 1px solid black;
    border-width: thick;
    background-color: yellow;
}

.Melon{
    color: brown;
    border: 1px solid black;
    border-width: thick;
    background-color: yellow;
    
}